body {
    background-color: #666666;
}

.box {
    width: 310px;
    height: 100%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.carousel-inner {
    width: 100%;
    height: 244px;
    overflow: visible;
    margin-left: -17.2%;
}

.img-carrossel {
    height: 244px;
    rotate: -90deg;
    position: absolute;
}

/* Carteirinha */

.carteirinha {
    background-color: #fff;
    width: 418px;
    height: 244px;
    border: 2x solid #666;
    line-height: 14px;
    padding: 3px 10px;
    rotate: -90deg;
}

.info-cliente {
    display: inline-block;
}

.info-titulo {
    font-size: 11px;
    font-weight: normal;
}

.info-resultado {
    font-size: 11px;
    font-weight: bold;
    margin-left: 20px;
}

.n-carteirinha {
    margin-left: 0;
}

.p-cobertura {
    width: 196px;
}

.n-carteira {
    width: 196px;
    text-align: center;
}

.info {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

.div-linha {
    border-bottom: 1px solid #000;
    margin-top: 5px;
    width: 100%;
}

.info-outras {
    display: inline-block;
    font-size: 12px;
    width: 196px;
}

.ans {
    display: inline-block;
    width: 196px;
}

.icone-ans {
    height: 30px;
}